@tailwind base;
@tailwind components;
@tailwind utilities;


body, #root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 300vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(217.91deg, rgba(248, 0, 0, 0.2) 17.2%, rgba(255, 188, 188, 0) 28.25%, rgba(248, 0, 0, 0.2) 17.2%, rgba(255, 188, 188, 0) 28.25%), #DAC6C6;
}

nav {
  flex-shrink: 0;
}

footer {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

#main-content {
  flex-grow: 1;
}
